:root {
  /*Colors*/
  --color-background: #fbeaff;
  --color-light: #fef6ff;
  --color-dark: #4b4453;
  --color-primary: #845ec2;
  --color-secondary: #563594;
  --color-ternary: #b39cd0;
  --color-valid: #00c9a7;
  --color-warning: #fefedf;
  --color-error: #d63423;

  /*Spacing*/
  --spacing-xxxs: .15rem;
  --spacing-xxs: .25rem;
  --spacing-xs: .5rem;
  --spacing-s: 1rem;
  --spacing-m: 1.25rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 4.8rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  max-width: 100%;
  font-size: 1rem;
  font-weight: 400;
  font-family: system-ui, sans-serif;
  line-height: 1.4;
  letter-spacing: -.05rem;
  background-color: var(--color-background);
  color: var(--color-dark);
  text-wrap-style:stable;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  max-width:40rem;
  font-weight: 700;
  line-height: 1.7;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.45rem;
}

h3 {
  font-size: 1.35rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.15rem;
}

p,
li{
  max-width:40rem;
}

ul,
ol {
  padding-left: var(--spacing-xl);
  list-style: square;
}

.important {
  font-size: 1.1rem;
}

small,
.small {
  font-size: .85rem;
}

strong {
  font-weight: 600;
}

a,
a:visited {
  color: var(--color-primary);
  text-underline-offset: var(--spacing-xxs);
  line-height: 1.5;
  transition: color .225s ease-out;

  &:hover {
    color: var(--color-secondary);
  }

  &:active {
    color: var(--color-ternary);
  }
}

.img-container {
  max-width: calc(350px - var(--spacing-s));
  background-color: var(--color-ternary);
  border-radius: 98% 12% / 25% 17%;
  margin-inline:auto;
  padding: var(--spacing-m);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 19/6;
  object-fit: contain;

  &:is(.pixel-img){
    image-rendering: pixelated;
    scale:8;
  }
}

blockquote {
  max-width: 40rem;
  display: inline-flex;
  align-items: center;
  gap:var(--spacing-xs);
  margin:0;
  padding: var(--spacing-xs);

  &::before {
    content: "";
    width: var(--spacing-xxs);
    height: calc(var(--spacing-s) * 2);
    display: inline-flex;
    background-color: var(--color-primary);
  }

  cite{
    font-size:.9rem;
    font-weight:500;

    &::before,
    &::after{
      content:"\"";
      width:max-content;
      height:auto;
    }
  }
}

.main-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-m);
}

.main-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-m);
  list-style: none;
  padding-inline: var(--spacing-m);

  .main-menu-links {
    display:inline-flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-size: .9rem;
    font-weight: 600;
  }
}

main {
  max-width: 100%;
  min-height:100dvh;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:stretch;
  margin-inline: auto;
  padding-block:var(--spacing-xxl);
}

.main-sections {
  width: calc(100% - var(--spacing-xxl));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--spacing-xxl);
  margin-inline: auto;
}

.main-articles {
  max-width:calc(100% - var(--spacing-xl));
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:stretch;
  margin-inline: auto;

  :has(img){
    margin-inline:auto;
  }
}

.main-foot {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  gap: var(--spacing-m);
}